<%- include("partials/header.ejs") %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Welcome to my blog! I'm Hameem, a passionate writer and tech enthusiast. I created this space to share my thoughts, experiences, and opinions on various topics that inspire me. From technology and programming to lifestyle and personal reflections, I enjoy exploring different subjects and engaging with like-minded individuals.</p>
                        <p>As an avid learner, I’m always looking to expand my knowledge, whether it’s through coding, blogging, or diving into new ideas. This blog serves as a creative outlet for my hobbies and a platform for sharing insights that resonate with me. I believe that everyone has a unique perspective, and I’m excited to share mine with you.</p>
                        <p>We are few friends writing blogs here, if you want to share your opinions on this site, contact me in the contact page and I'll reach you soon.</p>
                        <p>Thank you for joining me on this journey! Feel free to explore my posts, share your thoughts, and connect with me.               
                    </div>
                </div>
            </div>
        </main>
        <%- include("partials/footer.ejs") %>