<%- include("partials/header.ejs") %>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Contact Me</h1>
                        <span class="subheading">Have questions? I have answers.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>
                        Want to get in touch? Fill out the form below to send me a message and
                        I will get back to you as soon as possible!
                    </p>
                    <div class="my-5">
                        <form action="/contact" id="contactForm" method="post">
                            <div class="mb-3">
                                <label for="name">Name</label>
                                <input class="form-control" name="name" id="name" type="text" placeholder=" " min="3" required />
                                
                            </div>
                            <div class="mb-3">
                                <label for="email">Email address</label>
                                <input class="form-control" name="email" id="email" type="email" placeholder=" " required />
                                
                            </div>
                            <div class="mb-3">
                                <label for="phone">Phone Number</label>
                                <input class="form-control" name="phone" id="phone" type="tel" min="10" placeholder=" " />
                                
                            </div>
                            <div class="mb-3">
                                <label for="message">Message</label>
                                <textarea class="form-control" name="message" id="message" min="10" placeholder=" " style="height: 12rem"
                                    required></textarea>
                            </div>
                            <br />
                            <button class="btn btn-primary" id="submitButton" type="submit">
                                Send
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include("partials/footer.ejs") %>